
/* Reset some basic elements for consistency across browsers */
body, h1, h2, h3, h4, h5, h6, p, ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

/* Apply a font to the entire body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, #04AA6D, #90fdc6);
  min-height: 100vh;
}

/* Style for the navigation bar */
nav {
  background-color: #212121; /* Dark background for the nav bar */
  color: #fff; /* White text color */
  padding: 1rem; /* Some padding around nav elements */
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  display: flex; /* Display nav items in a row */
  justify-content: center; /* Center nav items horizontally */
}

nav ul li {
  margin: 0 1rem; /* Space out nav items */
}

nav ul li a {
  color: #fff; /* White text color for links */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Make font a bit thicker */
}

/* Hover effect for links */
nav ul li a:hover {
  color: #04AA6D; /* Change color on hover */
}

/* Additional global styles */

.container {
  max-width: 1200px; /* Max width for content */
  margin: auto; /* Center the container */
  padding: 0 2rem; /* Padding on the sides */
}

/* Style for headings */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 1rem; /* Space below headings */
  color: #333; /* Dark grey color for text */
}

/* index.css or Login.css */
.userform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use 100% of the viewport height */
  text-align: center; /* Center the text inside the labels */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between form elements */
}

label {
  margin: auto; /* Center label-text horizontally */
}
